$black: #000000;

$federalBlue: #03045E;
$honoluluBlue: #0077B6;
$pacificCyan: #00B4D8;
$blue: #90E0EF;
$lightCyan: #CAF0F8;

$bodyBgColor: $lightCyan;
$headerBgColor: $federalBlue;
$footerBgColor: $pacificCyan;
