@use "@globals" as *;

.flashlight {
  background: rgb(174, 243, 251);
  background: radial-gradient(
    circle,
    rgba(174, 243, 251, 1) 0%,
    rgba(0, 229, 255, 1) 33%,
    rgba(0, 151, 167, 1) 67%,
    rgba(0, 96, 100, 1) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
